:root {
  --font: 400 1.5rem 'Bangers', Verdana, sans-serif;
  --palette-background: #aeb4bf;
  --palette-foreground: #222833;
  --palette-text: #fefefe;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font: var(--font);
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  overflow: hidden;
}

html {
  font-size: 16px;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#gamecanvas {
  background-color: #242a35;
  background-image: url(./assets/background.jpg);
  background-position: center center;
  background-size: cover;
  background-blend-mode: luminosity;
  overflow: hidden;
}

#hud {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #fff;
  padding: 1rem;
}

#hud p {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1px;
}

#credits {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  color: #fff;
  opacity: 0.5;
}

.menu {
  position: absolute;
  top: 10rem;
  left: 50%;
  min-height: 300px;
  min-width: 200px;
  text-align: center;
  /* background-color: var(--palette-foreground); */
  transform: translateX(-50%);
  /* border: 0.25rem outset var(--palette-background);
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.5); */

  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
button {
  font: inherit;
  font-size: 3rem;
  padding: 1rem 2rem;
  background-color: #442198;
  color: #fefefe;
  border: none;
  cursor: pointer;
  box-shadow: -0.5rem -0.5rem 0 0 #7446e4;
  transform: scale(1);
  transition: transform 200ms ease, box-shadow 200ms ease;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

h2 {
  color: #fefefe;
  font: var(--font);
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 425px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

